.hcj-block-manager {
    display: inline-block;
}

span.hcj-block-manager {
    border: 1px solid #3b3b3b;
    background: linear-gradient(328deg, #a3a3a3, #c9c9c9);
    border-radius: 2px;
    padding: 4px;
    margin: 4px;
}

.hcj-block-manager.draggable {
    cursor: pointer;
    user-select: none;
}

.hcj-block-manager.container {
    display: block;
    padding: 5px;
    margin: 5px;
}