/* Main div */
.hcj-builder.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.hcj-builder.navbar {
    min-height: 20px;
    /* Minimum height for the navbar */
    background-color: #333;
    color: white;
    padding: 5px;
}

.hcj-builder.navbar .btn {
    padding: 2px;
}


/* Body */
.hcj-builder.body {
    flex-grow: 1;
    /* Allow the body to grow and occupy the remaining space */
    display: flex;
}

/* Sidebar */
.hcj-builder.sidebar {
    width: 140px;
    /* Fixed width for the sidebar */
    background-color: #535353;
    transition: 420ms;
}

.hcj-builder.sidebar.closed {
    margin-left: -140px;
    transition: 420ms;
}

/* Sidebar accordions */
.hcj-builder.sidebar .accordion {
    margin: 5px;
    border-radius: 2px;
    background-color: rgb(131 131 131);
    transition: 420ms;
    cursor: pointer;
}

.hcj-builder.sidebar .accordion.active {
    margin: 5px;
    border-radius: 2px;
    padding: 5px;
    background-color: rgb(131 131 131);
    transition: 420ms;
}

.hcj-builder.sidebar .accordion .title {
    font-size: larger;
    border-radius: 2px;
    padding: 5px;
    background-color: rgb(139 139 139);
}

.hcj-builder.sidebar .accordion .content {
    height: 0;
    padding: 0px;
    background-color: rgb(189 189 189);
    transition: 420ms;
    overflow: hidden;
    cursor: auto;
    border-radius: 2px;
}

.hcj-builder.sidebar .accordion.active .content {
    height: 100%;
    padding: 0px;
    background-color: rgb(189 189 189);
    transition: 420ms;
    overflow: hidden;
}

/* HTML code injector */
.hcj-builder .body .modal {
    position: absolute;
    background: #00000077;
    top: 0px;
    bottom: 100%;
    left: 0px;
    right: 0px;
    transition: 430ms;
}

.hcj-builder .body .modal.active {
    position: absolute;
    background: #00000077;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 430ms;
}

.hcj-builder .body .modal .modal-dialog {
    background: black;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
}

.hcj-builder .body .modal .modal-dialog .modal-title {
    background-color: rgb(59, 59, 59);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.hcj-builder .body .modal .modal-dialog .modal-content {
    background-color: rgb(59, 59, 59);
    width: 100%;
    /* Set the width of the parent div to your desired value */
    height: 100%;
    /* Set the height of the parent div to your desired value */
    padding: 5px;
    /* Add padding as needed */
    overflow: auto;
    /* Enable scrolling if content overflows */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    position: relative;
}

.hcj-builder .body .modal .modal-dialog .modal-content textarea {
    width: 100%;
    height: 95%;
    box-sizing: border-box;
    background: #252525;
    color: white;
}

/* Content */
.hcj-builder.content {
    position: relative;
    flex-grow: 1;
    /* Allow the content to grow and occupy the remaining space */
    background-color: #fff;
    border: 0px;
}

.hcj-builder.content iframe {
    width: 100%;
    height: 100%;
}


@keyframes hcj-builder-color-quirk {
    0% {
        background-color: #00000000;
        border-color: red;
    }

    25% {
        background-color: #ffffff7b;
    }

    50% {
        background-color: #00000000;
        border-color: blue;
    }

    75% {
        background-color: #0000007b;
    }

    100% {
        background-color: #00000000;
        border-color: red;
    }
}

.color-quirk {
    animation: hcj-builder-color-quirk 1s linear infinite;
}