.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main .navbar {
    min-height: 20px;
    background-color: #333;
    color: white;
    padding: 5px;
}
.main .body {
    position: relative;
    flex-grow: 1;
    display: flex;
}
.main .body .content {
    width: 100%;
}
.main .body .modal {
    position: absolute;
    background: #00000077;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.main .body .modal .modal-dialog {
    background-color: rgb(213, 179, 148);
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main .body .modal .modal-dialog .modal-title {
    background-color: rgb(59, 59, 59);
    padding: 5px;
}
.main .body .modal .modal-dialog .modal-content {
    background-color: rgb(59, 59, 59);
    width: 100%; /* Set the width of the parent div to your desired value */
    height: 100%; /* Set the height of the parent div to your desired value */
    padding:20px; /* Add padding as needed */
    overflow: auto; /* Enable scrolling if content overflows */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative;
}
.main .body .modal .modal-dialog .modal-content textarea {
  width: 100%;
  height: 99%;
  box-sizing: border-box;
}