body {
    margin: 5px;
    padding: 5px;
}
.external-container {
    width: 1024px; /* Set your desired width */
    height: 640px; /* Set your desired height */
    border: 4px solid #9e91c2;
    overflow: hidden; /* Prevent content from overflowing */
    position: relative;
}